@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title:</h2>
<h3>Address</h3>

<address>
    Romania, Bucuresti, Street. Unirii, Nr.24.
</address>

<address>
    <strong>PhoneNumber:</strong>0755233123<br />
    <strong>Email:</strong>zooshoop@yahoo.com
</address>
@using (Html.BeginForm(actionName: "Index", controllerName: "Home", method: FormMethod.Get))
{
    <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Back</button>
}