@{
    ViewBag.Title = "Home Page";
}

<div>
    <img src="~/Content/Images/zoocatelsipisi.png" alt="O imagine" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vaccines</h2>
        <p>
            A vaccine is a biological preparation that provides active acquired immunity to a particular infectious disease.
        </p>
        @using (Html.BeginForm(actionName: "Index", controllerName: "Vaccine", method: FormMethod.Get))
        {
            <button style="margin-right:5px" class="btn btn-primary col-lg-3" type="submit">Vaccines</button>
        }
    </div>
    <div class="col-md-4">
        <h2>Breeds</h2>
        <div>
            <img src="~/Content/Images/Breeds.jpg" alt="O imagine" width="250" height="70" />
        </div>
        @using (Html.BeginForm(actionName: "Index", controllerName: "Breed", method: FormMethod.Get))
        {
            <button style="margin-right:5px" class="btn btn-primary col-lg-3" type="submit">Breeds</button>
        }
    </div>
    <div class="col-md-4">
        <h2>Distributors</h2>
        <p>
            Here you can see all the distributors we work with.
        </p>
        @using (Html.BeginForm(actionName: "Index", controllerName: "Distributor", method: FormMethod.Get))
        {
            <button style="margin-right:5px" class="btn btn-primary col-lg-3" type="submit">Distributors</button>
        }
    </div>
</div>